.collapsible{
    font-size: 13px;

    .collapsible-header{
        .menu-deliver{
            padding-left: 50px;
        }
        .menu-transfers{
            padding-left: 33px;
        }

        .menu-Patients{
            padding-left: 60px;
        }
        
    }
    
}

@media only screen and (max-width: 600px) {
    .collapsible{
        color: black;
    }
}

