.Control{
    padding: 20px;
    padding-left: 30%;
    
    .form-inline{
        display: flex;
    }
    .form-group{
        padding: 5px;
    }
    .btnAddReminder{
        background-color: #5cb85c;
        border-color: #4cae4c;
    }
    .btn, .btn-large, .btn-small {
        text-transform: capitalize;
    }

}

@media only screen and (max-width: 600px) {
    .Control{
        .form-inline{
            display: initial;
        }
    }
}