/*---------------- Left Layout Login CSS---------- */
  .login-layout .left-layout{
  background-color: #56CCB1;
  background-image: url("/assets/bg-medly.png");
  width: 50%;
  height: 100vh;
  float: left;
}
.login-layout .left-layout .get-out{
  display: table;
  position: absolute;
  height: 100%;
  width: 50%;
}
.login-layout .left-layout .get-out .leftmid{
  display: table-cell;
  vertical-align: middle;
}
.login-layout .left-layout .get-out .inner{
  display: table;
  margin: 0 auto;
}
.cicle{
  height: 120px;
}
.medly{
  height: 28px;
}
.info{
  text-align: center;
  color: white;
}
.login-layout .copy-right-text{
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
}


/*---------------- right Layout Login CSS---------- */
.login-layout .login-form{
  float: right;
  width: 50%;
  height: 100vh;
}
.login-layout .login-form .get-out {
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
}

.login-layout .login-form .get-out .right-mid {
  display: table-cell;
  vertical-align: middle;
}
.login-layout .login-form .get-out .right-mid .container-login{
  height: 90%;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 6%;
  padding-bottom: 9%;
}

.login-layout .login-form .get-out .right-mid .container-login .card-panel{
  height: 100%;
  padding: 10%;
}
.title-login {
  text-align: center;
}

.login-layout .login-form h3{
  color: #26A69A;
}
.login-layout .waves-effect{
  width: 140px;
}
.login-layout a{
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}
.login-layout .text-lighten {
  color: #4A4A4A !important;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.64px;
  line-height: 35px;
}



.login-layout .copy-right{
  position: absolute;
  bottom: 50px;
  width: 50%;
  float: left;
  color: white;
}