/*---------------- Left Layout Login CSS---------- */
  .login-layout .left-layout{
  background-color: #56CCB1;
  background-image: url("/assets/bg-medly.png");
  width: 50%;
  height: 100vh;
  float: left;
}
.login-layout .left-layout .get-out{
  display: table;
  position: absolute;
  height: 100%;
  width: 50%;
}
.login-layout .left-layout .get-out .leftmid{
  display: table-cell;
  vertical-align: middle;
}
.login-layout .left-layout .get-out .inner{
  display: table;
  margin: 0 auto;
}
.cicle{
  height: 120px;
}
.medly{
  height: 28px;
}
.info{
  text-align: center;
  color: white;
}
.login-layout .copy-right-text{
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
}


/*---------------- right Layout Login CSS---------- */
.login-layout .login-form{
  float: right;
  width: 50%;
  height: 100vh;
}
.login-layout .login-form .get-out {
    display: table;
    position: absolute;
    height: 100%;
    width: 50%;
}

.login-layout .right-mid {
  display: table-cell;
  vertical-align: middle;
}
.login-layout .container-login{
  height: 90%;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 6%;
  padding-bottom: 9%;
}

.login-layout .card-container{
  height: 100%;
  padding: 10%;
  border: 1px solid #ddd;
}
.title-login {
  text-align: center;
}

.login-layout .login-form h3{
  color: #26A69A;
}
.login-layout .waves-effect{
  width: 140px;
}
.login-layout a{
  margin-right: 20px;
  transition: color .3s ease;
  text-transform: uppercase;
}
.login-layout .text-lighten {
  color: #4A4A4A !important;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.64px;
  line-height: 35px;
}

.login-layout .copy-right{
  position: absolute;
  bottom: 50px;
  width: 50%;
  float: left;
  color: white;
}


  /*-------------%%%%$$$$$$--- Responsive---------------------------- */

@media only screen and (max-width: 600px) {
  .login-layout .left-layout{
    background-color: #56CCB1;
    background-image: url("/assets/bg-medly.png");
    width: 100%;
    height: 20vh;
  }

  .login-layout .left-layout .get-out{
    display: table;
    position: absolute;
    height: 20vh;
    width: 100%;
  }
  .login-layout .left-layout .get-out .leftmid{
    display: table-cell;
    vertical-align: middle;
  }
  .login-layout .left-layout .get-out .inner{
    display: table;
  }
  .cicle{
    height: 80px;
  }
  .medly{
    height: 25px;
  }
  .info{
    text-align: center;
    color: white;
    font-size: 15px;
  }
  .login-layout .copy-right-text{
    text-align: center;
    color: white;
    font-weight: 0px;
    font-size: 0px;
  }
  /*---------------- right Layout Login CSS---------- */
.login-layout .login-form{
  width: 90%;
  height: 80vh;
}
.login-layout .login-form .get-out {
    height: 80%;
    width: 90%;
}

.login-layout .right-mid {
  display: table-cell;
  vertical-align: middle;
}
.login-layout .container-login{
  height: 90%;
  width: 100%;
  padding-left: 0%;
  padding-right: 5%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.login-layout .card-container{
  height: 100%;
  padding: 0%;
  padding-right: 10%;
  border: 0px solid #ddd;
}
.title-login {
  text-align: center;
}

.login-layout .login-form h3{
  color: #26A69A;
  font-size: 0px;
}
.login-layout .waves-effect{
  width: 100%;
}
.login-layout .right{
  width: 100%;
  padding-left: 10%;
  padding-top: 5%;
  text-align: center;
}
.login-layout a{
  margin-right: 0px;
  transition: color .3s ease;
  text-transform: uppercase;
}
.login-layout .text-lighten {
  color: #4A4A4A !important;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.64px;
  line-height: 35px;
}

.login-layout .copy-right{
  position: absolute;
  width: 100%;
  color: white;
}
  
}