.FormReminder{
    .collection{
        padding-left: 30%;
        padding-right: 28%;
        border: 0px solid;

        .clolecttionReminder{
            border: 1px solid #dee2e6;
        }
    }
    .btnClearReminder{
        padding-left: 45%;
        padding-top: 20px;
    }

    .btnClear{
        background-color: #c9302c;
        border-color: #ac2925;
        text-transform: capitalize;
    }

    .TaskReminder {
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        
    }
}
