.FormReminder{
    .listItemReminder{
        padding-left: 30%;
        padding-right: 28%;
    }
    .btnClearReminder{
        padding-left: 45%;
        padding-top: 20px;
    }
    .TaskReminder {
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        
    }
}
